<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/makeParty.css">
</head>

<body>
    <!-- 상단바 내용 -->
    <div id="header">
        <div id="header-width-container">
            <div id="header-logo">
                <a href="/">
                    <img src="/Mainlogo.png" alt="Header Image" />
                </a>
            </div>
            <div id="btns">
                <div id="cash_btn">
                    <a href="/charge/charge">POINT</a>
                </div>
                <div id="mypage_btn">
                    <a href="/user/myPage">MY</a>
                </div>
                {% if user %}
                <div id="header-right" style="cursor:pointer;" onclick="location.href='/logout'">
                    로그아웃
                </div>
                {% else %}
                <div id="header-right" style="cursor:pointer;" onclick="location.href='/login'">
                    로그인
                </div>
                {% endif %}
            </div>
        </div>

         <!-- 배너 내용 -->
         <div class="banner">
            <div id="main-width-container">
                <div id="title-party">
                    <span class="text-purple">파티/판매 등록</span>
                </div>
                <form action="/party/makeParty" method="post">
                    <br>
                    <br>
                    <!-- 제목 입력 -->
                    <div class="form-group">
                        <label for="title">파티이름</label>
                        <input type="text" id="title" name="party_title" placeholder="어떤 음식을 드실건가요? ">
                    </div>
                    <!-- <br><br> -->
                    <!-- 모집인원 선택 -->
                    <div class="form-group">
                        <label for="members">모집인원</label>
                        <input type="text" id="members" name="personnel" placeholder="몇 명을 모집하실 건가요?">
                    </div>
                    <!-- 최소주문금액 금액 -->
                    <div class="form-group">
                        <label for="amount">최소주문금액</label>
                        <input type="number" id="amount" name="min_amount" placeholder="최소 주문 금액을 입력해 주세요">
                    </div>
                    <br><br>
                    <button id="submit" type="submit" style="cursor: pointer;">파티등록</button>
                </form>
            </div>
        </div>

        <!-- 하단바 내용 -->
        <div class="footer">
            <div class="width-container">
                <div class="padding-left">
                    <img src="/Mainlogo.png" alt="Footer Image">
                    <div class="footer-logo">
                        <a href="#" target="_blank" class="v-bar">회사소개</a>
                        <a href="#" target="_blank" class="v-bar">제휴문의</a>
                        <a href="" target="_blank" class="v-bar">1:1문의</a>
                        <a href="#" target="_blank" class="v-bar">개인정보처리방침</a>
                        <a href="#" target="_blank" class="v-bar">서비스이용약관</a>
                        <a href="#" target="_blank" class="v-bar">FAQ</a>
                        <br>
                        <br>
                        <span class="v-bar">상호 : 먹츠</span>
                        <span>대표 : 이정현</span>
                        <br>
                        <span>주소 : 경기도 성남시 분당구 장미로 이치노구</span>
                        <br>
                        <span class="v-bar">사업자등록번호 : 123-45-78912</span>
                        <span>통신판매번호 : 제 2022-호주-0044호</span>
                        <br>
                        <span class="v-bar">개인정보보호책임 : 이정현</span>
                        <span>호스팅 사업자 : Amazon Web Service(AWS)</span>
                        <br>
                        <span class="v-bar">이메일 : pongki@Rupongi</span>
                        <span>대표전화번호 : 123-456-789</span>
                        <br>
                        <br>
                        <span>Copyright © 2024 Mucts Inc. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="width-container">
                먹츠는 통신판매중개자이며, 통신판매의 당사자가 아닙니다.파티정보, 구매에 관한 의무와 책임은 판매자에게 있습니다.
                <br>
                먹츠는 소비자 보호와 안전거래를 위해고객센터(manager@buts.co.kr)를 운영하고 있으며, 분쟁이 발생 된 경우 별도의 분쟁처리절차에 의거분쟁해결 및 청약철회 등이 진행 됩니다.
            </div>
        </div>
</body>

</html>