<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>MUCTS</title>
    <link rel="stylesheet" href="/myPage.css">
    <link rel="stylesheet" href="/changeinfo.css">

</head>

<body>
    <!-- head -->
    <div id="topper">
        <div id="topper-menu">
            <a href="">커뮤니티</a>
            <a href="">이벤트</a>
            <a href="">공지사항</a>
        </div>
    </div>
    <div id="header">
        <div id="header-width-container">
            <div id="header-logo">
                <a href="/">
                    <img src="/Mainlogo.png" alt="Buts Logo">
                </a>
            </div>
            <div id="btns">
                <div id="cash_btn">
                    <a href="/charge/charge">충전/조회</a>
                </div>
                <div id="mypage_btn">
                    <a href="/user/myPage">마이페이지</a>
                </div>
                {% if user %}
                <div id="header-right" style="cursor:pointer;" onclick="location.href='/logout'">
                    로그아웃
                </div>
                {% else %}
                <div id="header-right" style="cursor:pointer;" onclick="location.href='/login'">
                    로그인
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- body -->
    <div class="container">
        <div id="h1tag">
            <h1>MY 프로필</h1>
        </div>
        {% if user %}
        <div class="profile-info-container"> <!-- 클래스 추가 -->
            <!-- <div class="line"> -->
            <div class="profile">
                <div class="title_s">나의 프로필</div>
                <span class="title_xs">닉네임:</span> {{user.nick}}<br>
                <span class="title_xs">보유 포인트:</span><span class="points">{{user.point}}</span>
            </div>
            <div class="info">
                <div class="title_s">알림 정보</div>
                <div class="title_xs">아이디:{{user.user_id}}</span></div>
                <div class="title_xs">연락처:{{user.tel}}</span></div>
                <div class="title_xs">이메일:{{user.email}}</span></div>
                <div class="title_xs">가입일:{{user_date}}</span></div>
                <!-- </div> -->
            </div>
        </div>
        <div class="buttons">
            <button type="button" id="changeInfo_btn" onclick="openModal()">정보수정</button>
            <a href="#" class="button">탈퇴하기</a>
        </div>
        {% else %}
        <h1>사용자를 찾을 수 없습니다.</h1>
        {% endif %}
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="width-container">
            <div class="padding-left">
                <img src="/Mainlogo.png" alt="Buts Logo">
                <div class="footer-logo">
                    <a href="https://butscorp.com/" target="_blank" class="v-bar">회사소개</a>
                    <a href="https://butscorp.com/contact/" target="_blank" class="v-bar">제휴문의</a>
                    <a href="" target="_blank" class="v-bar">1:1문의</a>
                    <a href="https://buts.co.kr/bbs/page.php?hid=privacy" target="_blank" class="v-bar">개인정보처리방침</a>
                    <a href="https://buts.co.kr/bbs/page.php?hid=provision" target="_blank" class="v-bar">서비스이용약관</a>
                    <a href="https://buts.co.kr/bbs/faq.php" target="_blank" class="v-bar">FAQ</a>
                    <br>
                    <br>
                    <span class="v-bar">상호 : 먹츠</span><a href="https://m.blog.naver.com/imnotokayummni?tab=1"
                        style="text-decoration-line: none; color:hotpink;">대표 : 김유민</a>
                    <br>
                    <span>주소 : 경기도 성남시 분당구 장미로 이치노구</span>
                    <br>
                    <span class="v-bar">사업자등록번호 : 123-45-78912</span><span>통신판매번호 : 제 2022-호주-0044호</span>
                    <br>
                    <span class="v-bar">개인정보보호책임 : 주현빈</span><span>호스팅 사업자 : Amazon Web Service(AWS)</span>
                    <br>
                    <span class="v-bar">이메일 : pongki@Rupongi</span><span>대표전화번호 : 123-456-789</span>
                    <br>
                    <br>
                    <span>Copyright © 2024 Mucts Inc. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="width-container">
            먹츠는 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 파티정보, 구매에 관한 의무와 책임은 판매자에게 있습니다.
            <br>
            먹츠는 소비자 보호와 안전거래를 위해 고객센터(manager@buts.co.kr)를 운영하고 있으며, 분쟁이 발생 된 경우 별도의 분쟁처리절차에 의거 분쟁해결 및 청약철회 등이 진행 됩니다.
        </div>
    </div>

    <!-- 회원정보 수정 모달창 html -->
    <div id="info_modal">
        <h2>회원정보 수정</h2>
        <form action="/user/changeInfo" method="post" id="changeInfo2">
            <div class="section">
                <h3>아이디/비밀번호</h3>
                <div class="input-group">
                    <label for="userid">아이디</label>
                    <input name="user_id" type="text" id="userid" value="{{user.user_id}}" disabled>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input name="pw" type="password" id="password" placeholder="새 비밀번호를 입력하세요">
                </div>
                <div class="input-group">
                    <label for="password-confirm">비밀번호 확인</label>
                    <input type="password" id="password-confirm" placeholder="새 비밀번호를 확인하세요">
                </div>
            </div>
            <div class="section">
                <h3>내 정보 입력</h3>
                <div class="input-group">
                    <label for="name">이름</label>
                    <input name="name" type="text" id="name" value="{{user.name}}" placeholder="이름을 입력하세요">
                </div>
                <div class="input-group">
                    <label for="nick">별명</label>
                    <input name="nick" type="text" id="nick" value="{{user.nick}}" placeholder="새 닉네임을 입력하세요">
                </div>
                <div class="input-group">
                    <label for="email">이메일</label>
                    <input name="email" type="email" id="email" value="{{user.email}}" placeholder="새 이메일을 입력하세요">
                </div>
                <div class="input-group">
                    <label for="address">주소</label>
                    <input type="text" id="sample4_postcode" class="rgst_inputBox" value="{{user.addr_code}}"
                        placeholder="우편번호" name="addr_code">
                    <input type="button" id="searchAddrButton" value="우편번호 찾기" class="searchAddr"><br>
                    <input type="text" id="sample4_jibunAddress" class="rgst_inputBox" value="{{user.addr_jibun}}"
                        placeholder="도로명주소" name="addr_jibun">
                    <input type="text" id="sample4_detailAddress" class="rgst_inputBox" value="{{user.addr_detail}}"
                        placeholder="상세주소" name="addr_detail"><br>
                </div>
                <div class="input-group">
                    <label for="phone">휴대전화 번호</label>
                    <input name="tel" type="tel" id="phone" value="{{user.tel}}">
                </div>
                <div class="input-group">
                    <label for="wd_account">계좌</label>
                    <input name="wd_account" type="text" id="wd_account" value="{{user.wd_account}}">
                </div>
                <div class="input-group">
                    <label for="ba_number">계좌번호</label>
                    <input name="ba_number" type="text" id="ba_number" value="{{user.ba_number}}">
                </div>
            </div>
            <div class="input-btn">
                <input type="submit" id="changeInfo_btn2" value="정보 수정">
                <a href="/user/myPage" role="button" class="cancel_button">취소</a>
            </div>
        </form>
    </div>
</body>
<script src="/myPage.js"></script>

</html>