* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
#header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #ffe655;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#header-width-container {
    width: 100%;
    max-width: 1280px;
    height: 100px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-logo {
    display: inline-block;
}
#header-logo:hover {
    transform: scale(1.1);
}

#btns {
    display: flex;
    flex-direction: row;
}
#header-right {
    display: inline-block;
    width: 5rem;
    margin-right:15px;
    height: 34px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    border-radius: 17px;
    background-color: black;
}
#header-right:hover{
    background-color: gray;
}

#cash_btn,
#mypage_btn {
    display: inline-block;
    width: 5rem;
    height: 34px;
    text-align: center;
    line-height: 32px;
}
#cash_btn:hover,
#mypage_btn:hover{
    /* background-color: gray; */
    transform: scale(1.1);
}

#cash_btn a,
#mypage_btn a {
    height: 100px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
#mypage_btn{
    padding-right: 2rem;
}
#header-right a {
    color: #ffffff;
    text-decoration: none;
}

#container {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 99px;
    margin-bottom: 34px;
}
.points-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}
.points-header .username {
    display: flex;
    align-items: center;
}
.points-header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.points-header .title_xs{
    font-size: 20px;
    color: black;
}

.points-details {
    margin-bottom: 20px;
}
.points-details form {
    display: inline-block;
    margin-right: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f0f0f0;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.pagination a.active {
    background-color: black;
    color: white;
}
.footer {
    position: relative;
    padding: 35px 10px;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    line-height: 20px;
    background-color: white;
    border-top: 1px solid #f0eff7;
    word-break: keep-all;
}
.width-container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.footer .padding-left {
    position: relative;
    padding-left: 0px;
}
.footer .v-bar {
    margin-right: 20px;
    color: #666666;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

#charge-id {
    display: inline-block;
    padding: 8px 8px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-left: 0px;
}

#charge-id:hover {
    background-color: gray;
}

#charge_money {
    width: 150px; /* 입력 필드의 너비를 200픽셀로 설정 */
    height: 23px; /* 입력 필드의 높이를 40픽셀로 설정 */
    font-size: 16px; /* 입력 필드의 폰트 크기를 16픽셀로 설정 */
}

.title_xl {
    font-size: 24px; /* 폰트 크기 */
    font-weight: bold; /* 폰트 굵기 */
}