.header-right html,
body {
    margin: 0;
    padding: 0;
}

#topper {
    width: 100%;
    height: 35px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #f0eff7;
}

#topper-menu {
    position: relative;
    text-align: right;
    line-height: 34px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

#topper-menu>a {
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
    color: #888888;
}

#header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #ffe655;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#header-width-container {
    width: 100%;
    max-width: 1280px;
    height: 100px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    display: inline-block;
}

#header-logo:hover {
    transform: scale(1.1);
}

#header-right {
    display: inline-block;
    width: 116px;
    height: 34px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    border-radius: 17px;
    background-color: black;
}

#header-right:hover {
    background-color: gray;
}

#header-right a {
    color: #ffffff;
    text-decoration: none;
}

#main-body {
    width: 100%;
    min-height: 600px;
    padding-top: 100px;
    /* Adjust for fixed header */
}

#main-width-container {
    width: 100%;
    max-width: 1280px;
    min-height: 600px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-wrap-party {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

#title {
    font-size: 23px;
    color: #333333;
    font-family: 'Noto Sans KR', 'NanumGothic', '나눔고딕', ng, 'Malgun Gothic', Gulim, Dotum, Sans-Serif !important;
    font-weight: 500;
}

.footer {
    position: relative;
    padding: 35px 10px;
    font-size: 12px;
    font-weight: 300;
    color: #333;
    line-height: 20px;
    background-color: white;
    border-top: 1px solid #f0eff7;
    word-break: keep-all;
}

.width-container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.footer .padding-left {
    position: relative;
    padding-left: 0px;
}

.footer .v-bar {
    margin-right: 20px;
    color: #666666;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

@media all and (max-width: 1200px) {
    #topper-menu {
        width: 100%;
    }

    #header-width-container {
        width: 100%;
    }

    #main-width-container {
        width: 100%;
        padding: 0 10px;
    }

    .card {
        width: 100%;
        max-width: 100%;
    }
}

@media all and (max-width: 768px) {
    #topper-menu {
        text-align: center;
        line-height: 1.2;
    }

    #topper-menu>a {
        display: block;
        padding: 10px 0;
    }

    #header-width-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #header-right {
        margin-top: 10px;
    }

    #title-wrap-party {
        flex-direction: column;
        align-items: flex-start;
    }

    .chat-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

#form-login {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 120px;
    width: 400px;
    height: 680px;

}

#form {
    margin: 0;
    padding: 0;
    border: 0;
    width: 400px;
    height: 395px;
}

#login-logo {
    position: relative;
    margin-bottom: 42px;
    text-align: center;
}

#login-input,
#login-input-pw {
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
}

#login_id {
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    color: #333;
    border: solid 1px #dddddd;
    background-color: white;
    outline: none;
    margin-left: -21px;
}

#login_pw {
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    color: #333;
    border: solid 1px #dddddd;
    background-color: white;
    outline: none;
    margin-left: -21px;
}

#login-option {
    position: relative;
    box-sizing: border-box;
    padding: 0;
    font-size: 13px;
    font-family: 'Noto Sans KR', 'NanumGothic', '나눔고딕', ng, 'Malgun Gothic', Gulim, Dotum, Sans-Serif !important;
    font-weight: 400;
    line-height: 1.6;
    color: #666;
    background-color: white;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility;
    background-attachment: fixed;
    word-break: keep-all;
}

#login-option-right {
    position: absolute;
    top: 0;
    right: 0;
}

#login-option-right>span {
    margin-left: -10px;
}

.v-bar {
    margin-right: 20px;
    font-size: 14px;
    color: #666666;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background: 0 0;
    box-sizing: border-box;
}

#id_pw_lost {
    font-size: 14px;
    color: #666666;
    text-decoration: none;
    position: relative;
    display: inline-block;
    background: 0 0;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

#form-login-button {
    margin: 25px 0 20px 0;
    background-color: black;
    width: 100%;
    height: 60px;
    line-height: 58px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    min-width: 240px;
    padding: 0 10px;
    font-size: 18px;
    color: white;
    text-align: center;
    border: 0;
}

#form-login-button:hover {
    background-color: gray;
}

#form-login-button-kakao {
    margin: 25px 0 20px 0;
    width: 100%;
    height: 60px;
    line-height: 58px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    min-width: 240px;
    padding: -1 10px;
    font-size: 18px;
    text-align: center;
    border: 0;
    color: #331420;
    background-color: #f9e000;
    text-decoration-line: none;
}


/* 모달창 css */
#deco1 {
    list-style: none;
}

#demonst {
    padding: 8px;
}

#email {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    color: #333;
    border: solid 1px #dddddd;
    background-color: white;
    outline: none;
    margin-left: -40px;
}

#cancel {
    display: inline-block;
    width: 116px;
    height: 34px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    border-radius: 17px;
    background-color: black;
}

#ok_btn {
    display: inline-block;
    width: 116px;
    height: 34px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    border-radius: 17px;
    background-color: black;
}


/* 모달창 기본적으로 숨겨놓기 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}